/* src/components/ProjectsContainer.scss */

.projectscontainer {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
  .projectssideicon {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 3.125rem;
    height: 100%;
    flex-shrink: 0;
  }
}
