/* Portfolio-green/src/components/Blog/pagination/Pagination.scss*/

.paginationContainer {
  display: flex;
  justify-content: space-between;
  .paginationButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-decoration: none;
    width: 8.875rem;
    border-radius: var(--br-6xl);
    box-shadow: 0 2px 0 #0b1213;
    border: 1px solid var(--boxbackgroundgreenlight);
    padding: var(--padding-3xs);
    text-align: center;
    font-size: var(--font-size-base);
    font-weight: bold;
    color: var(--color-white);
    background: linear-gradient(
      180deg,
      rgba(192, 173, 90, 0.87),
      hsl(35, 42%, 53%)
    );
    font-family: var(--font-cormorant-garamond);
    cursor: pointer;

    &:hover {
      cursor: pointer;
    }

    &d:disabled {
      background-color: linear-gradient(
        180deg,
        rgba(100, 90, 47, 0.87),
        hsl(36, 38%, 27%)
      );
      cursor: not-allowed;
    }
  }
}
