/*Portfolio-green/src/blogApp/categoryPage/CategoryPage.scss*/
.categoryPageBlog {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(167.5deg, #13191b, #1a2528 48.44%, #0b0e0f);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-138xl);
  box-sizing: border-box;
  .categoryPageBlogPresentationName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 12rem;
    text-align: left;
    font-size: var(--font-size-79xl);
    color: var(--color-white);
    font-family: var(--font-cormorant-garamond);
    .categoryPageTitle {
      position: relative;
      margin: 0;
      padding: 0 var(--padding-13xl);
      border-radius: 25px;
      font-size: var(--font-size-45xl);
      font-weight: 700;
      background-color: var(--backgroundCategoriesProgramming);
    }
  }
  .categoryPageContainer {
    display: flex;
    gap: var(--gap-31xl);
  }
}
