/* src/components/AboutMeReactBox.scss */

.aboutMeReactBox {
  position: absolute;
  top: 73.375rem;
  left: 13.5rem;
  max-width: 41.938rem;
  width: 100%;
  height: 23.438rem;
  z-index: 10;

  .languageSymbolReact {
    position: absolute;
    top: 5.188rem;
    left: 21rem;
    background: linear-gradient(212.8deg, #13191b, #1a2528 63.68%, #0b0e0f);
    width: 7.5rem;
    height: 7.5rem;
    transform: rotate(-43.77deg);
    transform-origin: 0 0;

    .react-icon {
      position: absolute;
      overflow: hidden;
      height: 62%;
      width: 70.83%;
      top: 18%;
      right: 15%;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      transform: rotate(43.77deg);
    }
  }

  .planningReact {
    position: absolute;
    top: 10.313rem;
    left: 26.25rem;
    width: 19rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-smi);
    gap: 1.563rem 0;

    .react {
      position: relative;
      width: 6.875rem;
      font-size: inherit;
      font-weight: 700;
      background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-stroke: 1px transparent;
    }

    .react-is-the {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 7.063rem;
      font-size: clamp(
        var(--font-size-3xs),
        1vw + 0.5rem,
        var(--font-size-base)
      );
      text-align: left;
    }
  }

  .timeLineReact {
    position: absolute;
    top: 17rem;
    left: 13.063rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.125rem 0;
    text-align: left;
    font-size: var(--font-size-base);

    .jul {
      margin: 0;
      position: relative;
      font-size: inherit;
      font-weight: 400;
    }

    .ellipse-div {
      position: relative;
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
    }
  }

  .aboutMeReactBox-child {
    position: absolute;
    top: 6.688rem;
    left: 3.688rem;
    width: 21.188rem;
    height: 9rem;
    object-fit: cover;
  }
}

/* Media queries */
@media (max-width: 1180px) {
  .aboutMeReactBox {
    top: 89.43rem;
    left: 3rem;
    width: 40rem;
    height: 27rem;

    .languageSymbolReact {
      top: 8.65rem;
      left: 25rem;
    }

    .aboutMeReactBox-child {
      top: 9.3rem;
      left: 6.625rem;
    }

    .planningReact {
      top: 19.063rem;
      left: 1rem;
    }

    .timeLineReact {
      top: 2.5rem;
      left: 25.5rem;
      align-items: flex-end;
    }
  }
}

@media (max-width: 768px) {
  .aboutMeReactBox {
    top: 97.313rem;
    left: 0rem;
    width: 35rem;
    height: 27rem;

    .languageSymbolReact {
      top: 15.4rem;
      left: 21rem;
    }

    .aboutMeReactBox-child {
      top: 15.8rem;
      left: 2.625rem;
    }

    .planningReact {
      top: 0.5rem;
      left: 1rem;
    }

    .timeLineReact {
      top: 8.5rem;
      left: 26.4rem;
    }
  }
}

@media (max-width: 650px) {
  .aboutMeReactBox {
    width: 26rem;
    height: 27rem;

    .languageSymbolReact {
      top: 13.65rem;
      left: 17.4rem;
      width: 6.75rem;
      height: 6.75rem;
    }

    .aboutMeReactBox-child {
      top: 15.8rem;
      left: 0.5rem;
    }

    .planningReact {
      top: 0.063rem;
      left: 0.5rem;
    }

    .timeLineReact {
      top: 6.5rem;
      left: 22.1rem;
    }
  }
}

@media (max-width: 480px) {
  .aboutMeReactBox {
    top: 106.313rem;
    width: 19.5rem;
    height: 26rem;

    .languageSymbolReact {
      top: 14.65rem;
      left: 14.3rem;
      width: 5.075rem;
      height: 5.075rem;
    }

    .aboutMeReactBox-child {
      top: 16.8rem;
      left: 0;
      width: 19.069rem;
      height: 8.1rem;
    }

    .planningReact {
      top: 0.063rem;
      left: 0.2rem;
    }

    .timeLineReact {
      top: 6.9rem;
      left: 16.9rem;
    }
  }
}
