/* Portfolio-green\src\components\About\AboutMeSoftwareSkills.scss*/

.aboutmesoftwareskills {
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 6;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
  .projectsbackground-1-icon {
    position: absolute;
    top: 23.563rem;
    left: 53.813rem;
    width: 9rem;
    height: 28rem;
    object-fit: cover;
  }
}
