/* Portfolio-green\src\components\About\AboutMeSoftSkillsBox.scss */

.aboutMeSoftSkillsBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70.313rem;
  width: 100%;
  overflow: hidden;
  gap: 0.25rem 0;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
}
