/* src/components/AboutMeExperienceBox1.scss */

.aboutmeexperiencebox {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.188rem 0;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
  .verticalline {
    width: 0.119rem;
    position: relative;
    height: 6.25rem;
    overflow: hidden;
    flex-shrink: 0;
    .line {
      margin: 0;
      height: 6.25rem;
      border-radius: var(--br-9xs);
      border: 2px solid #aa9751;
    }
  }
  .frame6 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .the-work-experience {
      margin: 0;
      width: 15.938rem;
      position: relative;
      font-size: inherit;
      font-weight: 700;
      font-family: var(--font-cormorant-garamond);
      background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
    }
  }
  .professional-experience-is {
    margin: 0;
    width: 36rem;
    position: relative;
    display: inline-block;
    height: 6.938rem;
    flex-shrink: 0;
  }
}
