.jobboxright-child {
  width: 0.375rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  height: 0.375rem;
}
.january-2018-,
.management-advisor-and {
  margin: 0;
  width: 25.25rem;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.january-2018- {
  width: 16.625rem;
  background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.client-focus-and {
  margin-bottom: false;
}
.client-focus-and-strong-commit {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.blank-line11 {
  margin: 0;
}
.client-focus-and-container {
  width: 25.25rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.client-focus-and-strong-commit-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.management-advisor-and-respons-parent {
  width: 25.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem 0;
}
.jobboxright {
  position: absolute;
  top: 11.25rem;
  left: 31.219rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-14xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
}
