// src/components/LineOfTime.scss

.lineoftime {
  position: absolute;
  top: 1.125rem;
  left: 31.35rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 90rem;

  .verticalline {
    width: 0.119rem;
    position: relative;
    height: 90.25rem;
    overflow: hidden;
    flex-shrink: 0;
    .line {
      margin: 0;
      height: 90.25rem;
      border-radius: var(--br-9xs);
      border: 2px solid #aa9751;
    }
  }
}
