/* src/pages/Projects.scss*/

.projects {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background: var(--background-general);
  height: 224.375rem;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-138xl);
  box-sizing: border-box;
  .projectspresentationname {
    display: flex;
    align-items: center;
    width: 58.438rem;
    height: 24.625rem;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    font-size: var(--font-size-79xl);
    color: var(--color-white);
    font-family: var(--font-cormorant-garamond);
    .projectsSentence {
      font-size: 90%;
      .take-a-look {
        font-size: 90%;
      }
      .my-projects {
        position: relative;
        background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
