/* src/components/HomeContactContainer.scss*/

.homecontactcontainer {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 70.313rem;
  background: linear-gradient(212.8deg, #13191b, #1a2528 63.68%, #0b0e0f);
  box-shadow: var(--shadowboxes);
  height: 37.5rem;
  .homecontact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 64.313rem;
    height: 100%;
    gap: var(--gap-5xs);
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-cormorant-garamond);
    .homecontactcontanerpresentatio {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-shrink: 0;
      width: 34.688rem;
      height: 13.813rem;
      overflow: hidden;
      gap: 0.063rem 0;

      .verticalline {
        width: 0.119rem;
        position: relative;
        height: 6.25rem;
        overflow: hidden;
        flex-shrink: 0;
        .line {
          margin: 0;
          height: 6.25rem;
          border-radius: var(--br-9xs);
          border: 2px solid #aa9751;
        }
      }
      .contactslogan {
        width: 34.688rem;
        height: 7.5rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2.063rem 0;
        .contact-me {
          margin: 0;
          position: relative;
          font-size: inherit;
          font-weight: 700;
          font-family: var(--font-cormorant-garamond);
          background: linear-gradient(
            180deg,
            rgba(192, 173, 90, 0.87),
            #b98e53
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .lets-talk-share {
          margin: 0;
          width: 34.688rem;
          position: relative;
          display: inline-block;
        }
      }
    }
  }
}
