.graduationline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40.513rem;
  height: 139.906rem;
}
.aboutmelineoftime {
  width: 40.513rem;
  position: absolute;
  margin: 0 !important;
  top: 33.563rem;
  left: 11.375rem;
  height: 150.531rem;
  z-index: 7;
}
