/* src/components/AboutMeCodeingSkills.scss */

.aboutmecodeingskills {
  width: 62.813rem;
  position: relative;
  height: 183.5rem;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
}
