/* src/components/AboutMeSkillsContainer.scss */

.aboutmeskillscontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  width: 70.313rem;
  background: linear-gradient(
    -11.07deg,
    #0b0e0f,
    #13191b 23.99%,
    #1a2528 53.82%,
    #0b0e0f
  );
  box-shadow: var(--shadowboxes);
  overflow: hidden;
  gap: var(--gap-lg);
  color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-cormorant-garamond);
  .aboutIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 222.25rem;
    margin-top: 162.5rem;
  }
  .aboutAllTheSkills {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 70.313rem;
  }
}
