// src/components/HomeTheVocation.scss

.homethevocation {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  width: 70.313rem;
  background: linear-gradient(212.8deg, #13191b, #1a2528 63.68%, #0b0e0f);
  box-shadow: var(--shadowboxes);
  height: 37.5rem;
  .homevocationcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 64.313rem;
    height: 100%;
    gap: var(--gap-5xs);
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-cormorant-garamond);
    .homevocationcontainerpresentat {
      width: 34.688rem;
      overflow: hidden;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 13.813rem;
      justify-content: center;
      gap: 0.063rem 0;
      .verticalline {
        width: 0.119rem;
        position: relative;
        height: 6.25rem;
        overflow: hidden;
        flex-shrink: 0;
        .line {
          margin: 0;
          height: 6.25rem;
          border-radius: var(--br-9xs);
          border: 2px solid #aa9751;
        }
      }
      .homevocationslogan {
        width: 34.688rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 7.5rem;
        justify-content: flex-start;
        gap: 2.063rem 0;
        text-align: center;
        font-size: var(--font-size-5xl);
        color: var(--color-white);
        font-family: var(--font-cormorant-garamond);
        .homovocationslogantitle {
          width: 8.313rem;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;
          text-align: center;
          font-size: var(--font-size-5xl);
          font-family: var(--font-cormorant-garamond);
          .the-vocation {
            margin: 0;
            position: relative;
            font-size: inherit;
            font-weight: 700;
            font-family: var(--font-cormorant-garamond);
            background: linear-gradient(
              180deg,
              rgba(192, 173, 90, 0.87),
              #b98e53
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .where-every-line {
            margin: 0;
            width: 34.688rem;
            position: relative;
            display: inline-block;
          }
        }
      }
    }

    .homevocationpresentations {
      width: 62.5rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0 5.938rem;
      text-align: center;
      font-size: var(--font-size-5xl);
      color: var(--color-white);
      font-family: var(--font-cormorant-garamond);
    }
  }
}
