/* src/components/HomeSlideInfo.Scss */

.slideContainer {
  display: flex;
  width: 66.063rem;
  height: 33rem;
  .projecttitle {
    width: 6.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xl) 0;
    z-index: 10;
    .verticalline {
      width: 0.119rem;
      position: relative;
      height: 6.25rem;
      overflow: hidden;
      flex-shrink: 0;
      .line {
        margin: 0;
        height: 6.25rem;
        border-radius: var(--br-9xs);
        border: 2px solid #aa9751;
      }
    }
    h3 {
      margin: 0;
      font-size: 80%;
    }
    h2 {
      width: auto;
      margin: 0;
      color: #aa9751;
      backdrop-filter: blur(6px);
      white-space: nowrap;
    }
  }
  .projectTools {
    margin: 0 var(--margin-sm);
    p {
      font-size: 80%;
    }
    .tools {
      display: flex;
      justify-content: space-between;
      width: 8rem;

      img {
        width: 2rem;
      }
    }
    .verticalline {
      width: 0.119rem;
      position: relative;
      height: 6.25rem;
      overflow: hidden;
      flex-shrink: 0;
      .line {
        margin: 0;
        height: 6.25rem;
        border-radius: var(--br-9xs);
        border: 2px solid #aa9751;
      }
    }
  }
}
