.homeprojectscontainer-inner {
  position: absolute;
  top: 4.438rem;
  left: 3.219rem;
  width: 67.063rem;
  height: 27.813rem;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-cormorant-garamond);
}
.homeprojectscontainer {
  width: 70.375rem;
  position: relative;
  background-color: var(--boxbackgroundgreendark);
  box-shadow: var(--shadowboxes);
  height: 37.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
