/* src/components/HomeProjectsContainer.scss */

.homeprojectscontainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  width: 70.313rem;
  height: 37.5rem;
  overflow: hidden;
  background-color: var(--boxbackgroundgreendark);
  box-shadow: var(--shadowboxes);

  .homeprojectscontainer-inner {
    position: absolute;
    top: 4.438rem;
    left: 4.35rem;
    width: 66.063rem;
    height: 33rem;
    cursor: pointer;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-cormorant-garamond);
  }
}
