/* src/components/ProjectsTheSecondAndThirdProje.scss */

.projectsthesecondprojectdescri-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 24rem;
  box-sizing: border-box;
  padding: 0 var(--padding-12xs);
  gap: var(--gap-21xl);
  color: var(--color-white);
  text-align: center;
  font-size: var(--font-size-5xl);
  font-family: var(--font-cormorant-garamond);
  .projectsthesecondprojectdescri {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    height: 23.75rem;
    border-radius: var(--br-3xs);
    background-color: var(--color-slategray);
    padding: var(--padding-mini);
    gap: 1.563rem 0;
    .the-first-portfolio {
      display: inline-block;
      margin: 0;
      width: 12.25rem;
      position: relative;
      font-size: inherit;
      font-weight: 700;
      font-family: var(--font-cormorant-garamond);
      background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .this-project-was-container {
      display: inline-block;
      position: relative;
      flex-shrink: 0;
      margin: 0;
      width: 19.438rem;
      height: 14.563rem;
      font-size: var(--font-size-base);
      text-align: left;
      .this-project-was {
        display: block;
      }
    }
  }
}
