.graduationellipse,
.graduationellipse1 {
  position: absolute;
  top: 42.063rem;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
  width: 2.875rem;
  height: 2.875rem;
}
.graduationellipse1 {
  top: 69.75rem;
}
.briefcase-icon,
.graduation-icon {
  position: absolute;
  height: 1.02%;
  width: 54.35%;
  top: 46.65%;
  right: 21.74%;
  bottom: 52.34%;
  left: 23.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.briefcase-icon {
  height: 1.48%;
  top: 0.79%;
  right: 23.91%;
  bottom: 97.73%;
  left: 21.74%;
}
.briefcaseellipse {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(192, 173, 90, 0.87), #b98e53);
  width: 2.875rem;
  height: 2.875rem;
}
.comments-icon {
  position: absolute;
  height: 1.31%;
  width: 54.35%;
  top: 76.43%;
  right: 21.74%;
  bottom: 22.26%;
  left: 23.91%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.timeline7 {
  position: absolute;
  top: 0.5rem;
  left: calc(50% - 22.5px);
  width: 2.875rem;
  height: 92.313rem;
}
