/* Portfolio-green/src/components/Blog/categoryList/CategoryList.scss*/

.categoryListContainer {
  .categoryListTitle {
    margin: var(--margin-31xl) 0;
  }
  .categoryListCategories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-3xs);
    .categoryListCategory {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      gap: var(--gap-9xs);
      padding: var(--padding-3xs) var(--padding-6xl);
      text-transform: capitalize;

      height: var(--padding-50xl);

      .categoryListImage {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
    .programming {
      background-color: var(--backgroundCategoriesProgramming);
    }
    .webDesign {
      background-color: var(--backgroundCategoriesDesign);
    }
    .technology {
      background-color: var(--backgroundCategoriesTechnology);
    }
    .emerging {
      background-color: var(--backgroundCategoriesEmerging);
    }
    .personalDevelopment {
      background-color: var(--backgroundCategoriesPersonalDevelopment);
    }
  }
  @media screen and (max-width: 1280px) {
    .categoryListCategory {
      width: 20%;
    }
  }
  @media screen and (max-width: 1024px) {
    .categoryListCategory {
      width: 25%;
    }
  }
  @media screen and (max-width: 768px) {
    .categoryListCategory {
      width: 45%;
    }
  }
  @media screen and (max-width: 640px) {
    .categoryListCategory {
      width: 100%;
    }
  }
}
