/* Portfolio-green\src\app\posts\[slug]\singlePage.scss*/

.singlePageContainer {
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(167.5deg, #13191b, #1a2528 48.44%, #0b0e0f);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-81xl);

  .singlePageInfoContainer {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;

    .singlePageTextContainer {
      flex: 1;
      .singlePageTitle {
        font-size: var(--font-size-40xl);
        margin-bottom: var(--margin-31xl);
      }
      .singlePageUser {
        display: flex;
        align-items: center;
        gap: var(--gap-xl);
        .singlePageUserImageContainer {
          .singlePageAvatar {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            object-fit: cover;
          }
        }
        .singlePageUserTextContainer {
          display: flex;
          flex-direction: column;
          gap: var(--gap-11xs);
          color: var(--color-grayLight);
          .singlePageUsername {
            font-size: var(--gap-3xl);
          }
        }
      }
    }

    .singlePageImageContainer {
      flex: 1;
      height: 350px;
      position: relative;
      overflow: hidden;
      .singlePageAvatar {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .singlePageContent {
    display: flex;
    gap: var(--gap-31xl);

    .singlePagePost {
      flex: 5;
    }
  }

  @media screen and (max-width: 1536px) {
    .singlePageTitle {
      font-size: 54px;
    }
  }

  @media screen and (max-width: 1280px) {
    .singlePageTitle {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 1024px) {
    .singlePageImage {
      display: none;
    }
  }

  @media screen and (max-width: 640px) {
    .singlePageTitle {
      font-size: 36px;
    }

    .singlePageDescription {
      font-size: 18px;
    }
  }
}
